/* CUSTOM FONTS */
@font-face {
	font-family: "Lobster";
	src: url('../fonts/Lobster_1.3.otf');
}

@font-face {
	font-family: "Kelson Sans Regular";
	src: url('../fonts/KelsonSansRegular.otf');
}

@font-face {
	font-family: "Oranienbaum";
	src: url('../fonts/Oranienbaum.ttf');
}

@font-face {
	font-family: "Lato Regular";
	src: url('../fonts/Lato-Regular.ttf');
}

/* TAGS STYLING */
body {
	overflow-x: hidden;
	background-color: #E8EAF6;
	font-family: "Lato Regular", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:hover {
	text-decoration: none;
}

hgroup {
	text-align: center;
	margin-bottom: 30px;
}

nav button {
	color: white;
}

/* ATTRIBUTE STYLING */
#change {
	font-weight: bold;
	font-size: 20px;
	border-radius: 2px;
	background-color:rgba(255,255,255,0.2);
	padding: 0 4px;
}

a > #logo {
	color: #303F9F;
	text-shadow: 2px 2px 2px #C5CAE9;
}

nav #search {
	width: 100%;
}

nav > .container {
	padding: 3px 20px;
}

.navbar.navbar-inverse {
	background-color: #3F51B5;
	border: 0;
	box-shadow: 0 3px 5px #000;
} 

.navbar-nav.navbar-right li a,
.navbar-header .navbar-brand {
    color: #E8EAF6;
}

.navbar-nav.navbar-right .dropdown-menu li a {
	color: #1A237E;
}

.divider {
	color: #fff;
}

.front-page {
	min-height: calc(100vh - 130px);
	margin: 60px 20px 10px;
}

.main {
	min-height: calc(100vh - 190px);
	margin: 60px 20px 10px;
	padding: 10px 10px;
	border-radius: 8px;
}

.panel {
	width: 100%;
	margin: 0 auto 20px;
	background-color: inherit;
}

.panel p {
	color: #000;
}

.panel input,
.panel select {
	height: 45px;
	font-size: 16px;
	border-radius: 0;
	width: 100%;
}

.form-group {
	margin-bottom: 5px;
}

.form-group input,
.form-group select,
input {
	border-radius: 0;
}

.form-group i {
	margin-top: 5px;
	margin-right: 5px;
	opacity: 0.5;
}

.panel-button {
	margin-top: 10px;
	width:100%;
	height: 40px;
	font-size: 16px;
	border-radius: 0;
}

#logo,
#change {
	font-family: "Lobster";
}

#caption {
	font-size: 18px;
}

#trail {
	font-size: 16px;
	text-align: center;
}

hgroup #logo {
	font-size: 63px;
}

/*.form-group input,
.form-group select {
	border-radius: 0;
}*/

.main-header img {
	width: 150px;
	height: 150px;
}

.errors {
	background-color: yellow;
}

.born-time div {
	width:100%;
}

#profile-data {
	padding: 15px 10px;
	border-radius: 5px;
	background-color: #fff;
}

.profile-image {
	margin: 10px 0;
	text-align: center;
}

.profile-image img {
	width: 225px;
}

.timeline-item {
	background-color: #fff;
	margin: 3px 0;
	padding: 5px 5px;
}

.timeline-item:hover {
	background-color: #E1F5FE;
}

.timeline-item img {
	width: 100px;
	max-height: 100%;
}

.media-body .media-heading {
	margin-top: 5px;
}

.timeline-item:first-child {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.timeline-item:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.media-body .support-content {
	font-size: 12px;
}

.main-content {
	padding: 0px 0px
}

/*.timeline-item-info {
	margin-left: px;
}*/

/* FOOTER STYLES */
#footer {
	width: 100%;
	background-color: #3F51B5;
	height: 60px;
	color: #fff;
}

#footer p {
	margin-top: 15px;
	margin-bottom: auto;
}

#left-footer {
	font-size: 18px;
}

#right-footer {
	text-align: right;
	font-size: 14px;
}

#right-footer a {
	text-decoration: none;
	color: #E8EAF6;
}


/* MEDIA EXCLUSIVE STYLING */
@media all and (max-width: 479px) {
	.main {
		margin: 60px 0;
	}

	h1#main-header-content {
		font-size: 20px;
	}

	.media-body .media-heading {
		margin-top: 0;
	}

	.timeline-item img {
		width: 60px;
		max-height: 100%;
	}

}

@media all and (min-width: 480px) {
	.panel {
		width: 400px;
		margin: 20px auto;
	}

	hgroup #logo {
		font-size: 90px;
	}

	#left-footer {
		font-size: 22px;
	}

	#right-footer {
		font-size: 18px;
	}
}

@media all and (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #E8EAF6;
	}

	.main-header h1 {
		text-align: center;
	}
}

@media all and (min-width: 768px) {
	nav #search {
		width: 28vw;
	}

	.main {
		margin: 80px 10vw 50px;
		padding: 0 30px 30px;
	}
}

